body {background-color:#5272a1; color:white;font-family:verdana,sans-serif;}
table, th, td {border:1px solid white;border-collapse: collapse;}
th, td {padding: 2px;}
a {text-decoration: none;color:#ffffff;}
mark {color:#5272a1;background-color: white;font-weight: bold;}
div.images {text-align: center;}