@font-face {font-family: 'Verdana'; src: url('verdana.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'Verdana'; src: url('verdana-bold.ttf') format('truetype'); font-weight: bold; font-style: normal;}
body {background-color:#5272A1; color:white;font-family:'Verdana',sans-serif;text-align: center;}
body.dir {text-align: left;}
body.dir table {text-align: left;margin: 0}

table, th, td {border:1px solid white;border-collapse: collapse;text-align: center;margin: auto;}
th, td {padding: 2px;text-align: left;}
table.hist {text-align: left;width: 450px}
table.hist td {border: none;}
table.dir td {padding: 5px;font-size: larger;font-weight: bold}
img {border:1px solid white}
a {text-decoration:none;color:white;cursor: pointer;}
a:hover {color:#95BCF7}
a:active {color:#354A69}
mark {color:#5272A1;background-color: white;font-weight: bold;}
div.images {text-align: center}